.name {
    text-align: center;
    text-size-adjust: 100%;
}

.repInfo {
    text-align: center;
    border: 1ch solid blue;
    background-color: bisque;
}

.links {
    border: 1ch dotted red;
}

.page {
    background-color: rgb(17, 17, 17);
}